/build_tools/build/
/build_tools/dist/
/build_tools/src/
/src/downloads/
/build_tools/build/exe.win-amd64-3.14/
/src/assets/tools/conversion/xnbcli-windows-x64/packed/
/src/assets/tools/conversion/xnbcli-windows-x64/unpacked/
/src/backup/
/src/emulators/
/src/logs/
/src/__pycache__
/logs/
__pycache__/
*.py[cod]
/src/cache/
/src/database/
