<XnaConfig>
  <!-- // Device platforms disable the TargetFrameworkVersion combobox, since it is
     // meaningless for non-Windows platforms. However, we need to specify v4.0 so
     // that we can use automation to remove WCF services from the device project. -->
  <Global>
    <TargetFrameworkVersion>v4.0</TargetFrameworkVersion>
  </Global>

  <Release>
    <XnaCompressContent>true</XnaCompressContent>
  </Release>

  <Debug>
    <XnaCompressContent>true</XnaCompressContent>
  </Debug>

  <Files>
  </Files>
</XnaConfig>